@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header div {
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  padding: 10px;
  color: rgb(87, 87, 87);
  font-weight: 500;
}

header .active {
  color: #ec5d97;
}

header a:hover {
  color: #ec5d97;
}

header h1 {
  font-family: "Dancing Script", cursive;
  font-size: 46px;
  padding: 10px;
}

.add-book-btn {
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #3d9c72;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  top: 70px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.message {
  color: rgb(141, 138, 138);
  margin-top: 15%;
  padding: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  min-width: 380px;
  width: 31%;
  padding: 20px;
  padding-top: 30px;
  color: #fff;
  margin: 30px 0.5%;
  border-radius: 5px;
  background-image: radial-gradient(
    circle,
    #6a96d6,
    #6690d4,
    #628bd2,
    #5e85cf,
    #5b7fcd
  );
  position: relative;
}

.done {
  background-image: radial-gradient(
    circle,
    #e767ae,
    #e962aa,
    #eb5ca5,
    #ec56a1,
    #ee509c
  );
}

.book-image {
  width: 40%;
  margin-bottom: -30px;
  box-shadow: -2px 6px 19px 0px #6d6e79;
  border: 2px dotted rgb(200, 200, 200);
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  font-family: "Roboto", sans-serif;
}

img:before {
  content: "";
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

img:after {
  content: attr(alt);
  display: block;
  margin-top: 50px;
  font-size: 16px;
  font-style: normal;
  color: rgba(100, 100, 100, 0.575);

  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}

.book-menu {
  padding: 0 10px;
  display: flex;
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
}

.book-menu p {
  padding: 5px 8px;
  cursor: pointer;
}

.book-menu p:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.book-info {
  padding-left: 20px;
  width: 60%;
}

.book-info > div {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}

.book-info > p {
  margin-bottom: 10px;
}

.book-info > button {
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.815);
  border: none;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  width: 80%;
  outline: none;
  cursor: pointer;
  box-shadow: -2px 6px 10px 0px #6d6e79;
}

.book-info > button:hover {
  background-color: #fff;
}

.title {
  font-weight: 700;
  font-size: 16px;
}

.pages {
  margin-left: 8px;
}

.read {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
}

.form-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.815);
  display: none;
}

.form-container-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container form {
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

form h1 {
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

form > div {
  margin: 10px 0;
  display: flex;
  width: 100%;
  align-items: flex-end;
}

form label {
  font-weight: 500;
  font-size: 15px;
  text-align: right;
  display: block;
  width: 30%;
}

form > div > input {
  outline: none;
  font-size: 14px;
  padding: 5px;
  margin: 0 15px;
  border: 1px solid lightgray;
  border-radius: 3px;
  display: block;
  width: 70%;
}

form > div:last-child {
  justify-content: flex-end;
  padding: 10px 15px;
}

.submit {
  width: 100px;
  display: block;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3d9c72;
  color: #fff;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

.radios > div {
  display: flex;
  padding: 0 20px;
}

.radios > div > label {
  margin-left: 10px;
}

.radios div input[type="radio"] {
  width: 20px;
}

.util-dim {
  color: rgb(189, 187, 187);
}

@media only screen and (max-width: 880px) {
  form label {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-size: 30px;
  }

  form > div {
    flex-direction: column;
    align-items: flex-start;
  }

  form label {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  form input {
    width: 95%;
  }

  form > div:last-child {
    align-items: flex-end;
    padding-right: 0;
  }
}
